{% extends "hr/layout.html"%}

{% block title %}
    Expense Claim
{% endblock %}
{% block main %}

<h3 class="mt-4"> Expense Claim</h3>
<div class="card">
    <div class ="card-body">
        <form class="row g-3">
            <div class="col-md-6">
              <label for="inputName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="inputName" value="{{ application.employee.first_name }}" disabled>
            </div>
            <div class="col-md-6">
              <label for="LastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="LastName" value="{{ application.employee.last_name }}" disabled>
            </div>
            <div class="col-6">
              <label for="inputStart" class="form-label">Department</label>
              <input type="text" class="form-control" id="inputStart" value="{{ application.employee.department }}" disabled>
            </div>
            <div class="col-6">
              <label for="inputEnd" class="form-label">Date</label>
              <input type="text" class="form-control" id="inputEnd" value="{{ application.date }}" disabled>
            </div>
           
            <div class="col-md-5">
              <label for="inputStatus" class="form-label">Status</label>
              <input type="text" class="form-control" id="inputStatus" value="{{ application.status }}" disabled>
            </div>
           
            <div class="col-md-2">
              <label for="inputDays" class="form-label">Amount</label>
              <input type="text" class="form-control" id="inputDays" value="$ {{ application.amount }}" disabled>
            </div>

            <div class="col-md-2">
                <label  class="form-label">Receipt</label>
                <a href="{{ application.receipt.url }}">
                    <button type="button" class="btn btn-primary"><span data-feather="eye"></span> View Receipt</button>
                </a>
            </div>
            
          </form>
    </div>
    {% if perms.users.can_approve_hr %}
    <div class="card-footer">
        <form id="hk1" action="{% url  'hr:expense_approval' id=application.id %}" method="post">
            {% csrf_token %}
            <input type="text" class="form-control"name="id" value="{{ application.id }}" hidden>
            <input type="text" value="" id="action" class="form-control"name="action" hidden>
            <div class="btn-group" role="group" aria-label="Button Group">
                <button   value="Rejected" onclick="myFunction(this)" class="btn btn-outline-danger"><span data-feather="trash"></span> Reject</button>
                <button   value="Approved" onclick="myFunction(this)"  class="btn btn-outline-primary"><span data-feather="check-circle"></span> Approve</button>
                
            </div>
        </form>
      {% endif %}
    </div>
</div>

<script>
    
       function myFunction(o){
        document.getElementById("action").value = o.value; 
        document.getElementById('hk1').submit();
      
      };
    
</script>
{% endblock %}