{% extends "hr/layout.html"%}
{% load crispy_forms_tags %}
{% block title %}
    Change Password
{% endblock %}
{% block main %}

<h3 class="mt-4">Change Password</h3>

<div class="text-center">
    <form style="display: inline-block;" action="{% url 'users:password_change' %}" method="post">
      {% csrf_token %}
      
        
      
      {{ form.as_p }}
       
      <button class="btn btn-primary" type="submit"><span data-feather="check-square"></span> Submit</button>
          
        
      
    </form>
</div>   

{% endblock %}